In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("historical_air_quality_2021_en.csv")

In [3]:
df.head(10)

,Station ID,AQI index,Location,Station name,Url,Dominent pollutant,CO,Dew,Humidity,NO2,...,Pressure,PM10,PM2.5,SO2,Temperature,Wind,Data Time S,Data Time Tz,Status,Alert level
0,8767.0,102.00,"10.782978,106.700711","Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",https://aqicn.org/city/vietnam/ho-chi-minh-cit...,pm25,-,NaN,83.0,-,...,"1,009.00",NaN,102.00,-,27.0,3.6,2021-01-21 19:00:00,+07:00,#NAME?,#NAME?
1,8688.0,221.00,"21.0811211,105.8180306","United Nations International School of Hanoi, ...",https://aqicn.org/city/vietnam/hanoi/unis,aqi,-,NaN,77.0,-,...,"1,015.00",NaN,-,-,18.0,1.5,2021-01-21 20:00:00,+07:00,#NAME?,#NAME?
2,8641.0,281.00,"21.0215063,105.8188748","Hanoi US Embassy, Vietnam (Đại sứ quán Mỹ, Hà ...",https://aqicn.org/city/vietnam/hanoi/us-embassy,pm25,0.30,NaN,77.0,8.70,...,"1,015.00",NaN,281.00,2.10,18.0,1.5,2021-01-21 20:00:00,+07:00,#NAME?,#NAME?
3,13012.0,36.00,"13.998599,107.996482","Gia Lai/phường Thống Nhất - Pleiku, Vietnam",https://aqicn.org/city/vietnam/gia-lai/phuong-...,pm25,3.00,NaN,60.2,6.00,...,923.70,29.00,36.00,1.00,24.3,1.0,2021-01-21 20:00:00,+07:00,#NAME?,#NAME?
4,12488.0,68.00,"16.46226,107.596351","Thừa Thiên Huế/83 Hùng Vương, Vietnam",https://aqicn.org/city/vietnam/thua-thien-hue/...,pm25,2.00,NaN,88.0,-,...,"1,015.00",52.00,68.00,-,21.0,1.0,2021-01-21 19:00:00,+07:00,#NAME?,#NAME?
5,13251.0,217.00,"21.04975,105.74187","Hà Nội/UBND P. Minh Khai, Bắc Từ Liêm, Vietnam",https://aqicn.org/city/vietnam/ha-noi/ubnd-p.-...,pm25,12.00,NaN,77.0,65.00,...,"1,015.00",194.00,217.00,2.00,18.0,1.5,2021-01-21 19:00:00,+07:00,#NAME?,#NAME?
6,12976.0,195.00,"21.1137452,105.9268934","Bắc Ninh/Châu Khê, Vietnam",https://aqicn.org/city/vietnam/bac-ninh/chau-khe,pm25,8.00,NaN,77.0,17.00,...,"1,015.00",119.00,195.00,3.00,18.0,1.5,2021-01-21 20:00:00,+07:00,#NAME?,#NAME?
7,13250.0,168.00,"22.3221386,104.1214227","Lào Cai/KCN TALOONG1, Vietnam",https://aqicn.org/city/vietnam/lao-cai/kcn-tal...,pm25,37.00,NaN,70.3,2.00,...,"1,003.20",65.00,168.00,17.00,18.5,1.0,2021-01-21 20:00:00,+07:00,#NAME?,#NAME?
8,5507.0,48.00,"20.9416,107.1158","Ha Long, Vietnam (Tp Hạ Long)",https://aqicn.org/city/vietnam/ha-long,pm25,-,NaN,95.7,11.00,...,"1,001.00",25.00,48.00,-,17.0,2.0,2021-01-21 19:00:00,+07:00,#NAME?,#NAME?
9,11778.0,18.00,"21.0357507,106.7641068","Quảng Ninh/UBND TP Uông Bí, Vietnam",https://aqicn.org/city/vietnam/quang-ninh/ubnd...,pm25,5.00,NaN,97.5,5.00,...,"1,002.00",12.00,18.00,3.00,15.4,1.0,2021-01-21 05:00:00,+07:00,#NAME?,#NAME?

In [4]:
#df.info()

In [5]:
df.rename(columns={"Station ID":"StationID"},inplace = True)
df.rename(columns={"Station name":"StationName"},inplace = True)
df.rename(columns={"Dominent pollutant":"DominentPollutant"},inplace = True)
df.rename(columns={"Data Time Tz":"DataTimeTz"},inplace = True)
df.rename(columns={"Data Time S":"DataTimeS"},inplace = True)
df.rename(columns={"AQI index":"AQI"},inplace = True)
df.rename(columns={"Alert level":"AlertLevel"},inplace = True)
#df.head()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3415 entries, 0 to 3414
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StationID          2622 non-null   float64
 1   AQI                2618 non-null   object
 2   Location           2622 non-null   object
 3   StationName        2622 non-null   object
 4   Url                2622 non-null   object
 5   DominentPollutant  2114 non-null   object
 6   CO                 2615 non-null   object
 7   Dew                2263 non-null   float64
 8   Humidity           2608 non-null   float64
 9   NO2                2615 non-null   object
 10  O3                 2608 non-null   object
 11  Pressure           2608 non-null   object
 12  PM10               2583 non-null   object
 13  PM2.5              2614 non-null   object
 14  SO2                2614 non-null   object
 15  Temperature        2615 non-null   float64
 16  Wind               2615 non-null   float64
 17  DataTimeS          2622 non-null   object
 18  DataTimeTz         2622 non-null   object
 19  Status             2622 non-null   object
 20  AlertLevel         2622 non-null   object
dtypes: float64(5), object(16)
memory usage: 560.4+ KB

In [7]:
#df.shape

In [8]:
df.drop(['Url','Status','Location','DataTimeTz','SO2','O3','NO2','CO'],axis ='columns',inplace = True)
# axis = 0, or ‘index’ : Drop rows which contain missing values.

# axis = 1, or ‘columns’ : Drop columns which contain missing value.
# inplace = True: việc xóa được thực hiện trên DataFrame hiện tại. 
# inplace = False: trả về một bản sao khi quá trình xóa được thực hiện.

In [9]:
df.head()

,StationID,AQI,StationName,DominentPollutant,Dew,Humidity,Pressure,PM10,PM2.5,Temperature,Wind,DataTimeS,AlertLevel
0,8767.0,102.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,NaN,83.0,"1,009.00",NaN,102.00,27.0,3.6,2021-01-21 19:00:00,#NAME?
1,8688.0,221.00,"United Nations International School of Hanoi, ...",aqi,NaN,77.0,"1,015.00",NaN,-,18.0,1.5,2021-01-21 20:00:00,#NAME?
2,8641.0,281.00,"Hanoi US Embassy, Vietnam (Đại sứ quán Mỹ, Hà ...",pm25,NaN,77.0,"1,015.00",NaN,281.00,18.0,1.5,2021-01-21 20:00:00,#NAME?
3,13012.0,36.00,"Gia Lai/phường Thống Nhất - Pleiku, Vietnam",pm25,NaN,60.2,923.70,29.00,36.00,24.3,1.0,2021-01-21 20:00:00,#NAME?
4,12488.0,68.00,"Thừa Thiên Huế/83 Hùng Vương, Vietnam",pm25,NaN,88.0,"1,015.00",52.00,68.00,21.0,1.0,2021-01-21 19:00:00,#NAME?

In [10]:
tphcm=df[df.StationID == 8767.0]
tphcm

,StationID,AQI,StationName,DominentPollutant,Dew,Humidity,Pressure,PM10,PM2.5,Temperature,Wind,DataTimeS,AlertLevel
0,8767.0,102.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,NaN,83.0,"1,009.00",NaN,102.00,27.0,3.6,2021-01-21 19:00:00,#NAME?
23,8767.0,122.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,NaN,56.5,"1,008.50",NaN,122.00,30.5,2.5,2021-01-22 13:00:00,#NAME?
46,8767.0,114.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,NaN,49.0,"1,007.00",NaN,114.00,32.0,1.5,2021-01-23 15:00:00,#NAME?
69,8767.0,80.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,NaN,74.0,"1,009.00",NaN,80.00,27.0,4.1,2021-01-25 19:00:00,#NAME?
92,8767.0,137.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,NaN,62.0,"1,007.00",NaN,137.00,31.0,5.1,2021-01-26 16:00:00,#NAME?
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,8767.0,97.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,24.0,66.0,"1,010.00",-,97.00,31.0,2.8,2021-11-10 10:00:00,#NAME?
2530,8767.0,65.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,24.0,66.0,"1,008.50",-,65.00,31.0,3.6,2021-11-16 12:00:00,#NAME?
2553,8767.0,114.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,25.0,79.0,"1,009.00",-,114.00,29.0,1.5,2021-11-20 09:00:00,#NAME?
2576,8767.0,89.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,20.5,69.0,"1,011.00",-,89.00,26.5,3.0,2021-11-26 09:00:00,#NAME?
2599,8767.0,93.00,"Ho Chi Minh City US Consulate, Vietnam (Lãnh s...",pm25,25.5,85.5,"1,006.00",-,93.00,28.0,1.0,2021-11-29 14:00:00,#NAME?

In [11]:
tphcm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 0 to 2599
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StationID          114 non-null    float64
 1   AQI                114 non-null    object
 2   StationName        114 non-null    object
 3   DominentPollutant  114 non-null    object
 4   Dew                99 non-null     float64
 5   Humidity           114 non-null    float64
 6   Pressure           114 non-null    object
 7   PM10               106 non-null    object
 8   PM2.5              114 non-null    object
 9   Temperature        114 non-null    float64
 10  Wind               114 non-null    float64
 11  DataTimeS          114 non-null    object
 12  AlertLevel         114 non-null    object
dtypes: float64(5), object(8)
memory usage: 12.5+ KB

In [12]:
tphcm.groupby(['DominentPollutant']).count()

,StationID,AQI,StationName,Dew,Humidity,Pressure,PM10,PM2.5,Temperature,Wind,DataTimeS,AlertLevel
DominentPollutant,,,,,,,,,,,,
pm25,114,114,114,99,114,114,106,114,114,114,114,114

In [13]:
new = tphcm.drop(['DominentPollutant','PM10','StationName','StationID'],axis=1)
new

,AQI,Dew,Humidity,Pressure,PM2.5,Temperature,Wind,DataTimeS,AlertLevel
0,102.00,NaN,83.0,"1,009.00",102.00,27.0,3.6,2021-01-21 19:00:00,#NAME?
23,122.00,NaN,56.5,"1,008.50",122.00,30.5,2.5,2021-01-22 13:00:00,#NAME?
46,114.00,NaN,49.0,"1,007.00",114.00,32.0,1.5,2021-01-23 15:00:00,#NAME?
69,80.00,NaN,74.0,"1,009.00",80.00,27.0,4.1,2021-01-25 19:00:00,#NAME?
92,137.00,NaN,62.0,"1,007.00",137.00,31.0,5.1,2021-01-26 16:00:00,#NAME?
...,...,...,...,...,...,...,...,...,...
2507,97.00,24.0,66.0,"1,010.00",97.00,31.0,2.8,2021-11-10 10:00:00,#NAME?
2530,65.00,24.0,66.0,"1,008.50",65.00,31.0,3.6,2021-11-16 12:00:00,#NAME?
2553,114.00,25.0,79.0,"1,009.00",114.00,29.0,1.5,2021-11-20 09:00:00,#NAME?
2576,89.00,20.5,69.0,"1,011.00",89.00,26.5,3.0,2021-11-26 09:00:00,#NAME?
2599,93.00,25.5,85.5,"1,006.00",93.00,28.0,1.0,2021-11-29 14:00:00,#NAME?

In [14]:
new.reset_index(drop=True, inplace=True)
new

,AQI,Dew,Humidity,Pressure,PM2.5,Temperature,Wind,DataTimeS,AlertLevel
0,102.00,NaN,83.0,"1,009.00",102.00,27.0,3.6,2021-01-21 19:00:00,#NAME?
1,122.00,NaN,56.5,"1,008.50",122.00,30.5,2.5,2021-01-22 13:00:00,#NAME?
2,114.00,NaN,49.0,"1,007.00",114.00,32.0,1.5,2021-01-23 15:00:00,#NAME?
3,80.00,NaN,74.0,"1,009.00",80.00,27.0,4.1,2021-01-25 19:00:00,#NAME?
4,137.00,NaN,62.0,"1,007.00",137.00,31.0,5.1,2021-01-26 16:00:00,#NAME?
...,...,...,...,...,...,...,...,...,...
109,97.00,24.0,66.0,"1,010.00",97.00,31.0,2.8,2021-11-10 10:00:00,#NAME?
110,65.00,24.0,66.0,"1,008.50",65.00,31.0,3.6,2021-11-16 12:00:00,#NAME?
111,114.00,25.0,79.0,"1,009.00",114.00,29.0,1.5,2021-11-20 09:00:00,#NAME?
112,89.00,20.5,69.0,"1,011.00",89.00,26.5,3.0,2021-11-26 09:00:00,#NAME?
113,93.00,25.5,85.5,"1,006.00",93.00,28.0,1.0,2021-11-29 14:00:00,#NAME?

In [15]:
#new.info()

In [16]:
new = new.astype({'AQI':'float'})
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AQI          114 non-null    float64
 1   Dew          99 non-null     float64
 2   Humidity     114 non-null    float64
 3   Pressure     114 non-null    object
 4   PM2.5        114 non-null    object
 5   Temperature  114 non-null    float64
 6   Wind         114 non-null    float64
 7   DataTimeS    114 non-null    object
 8   AlertLevel   114 non-null    object
dtypes: float64(5), object(4)
memory usage: 8.1+ KB

In [20]:

def Alert_Level(value):
    if value < 50:
        return "good"
    if 50 <= value < 100:
        return "Moderate"
    elif 100 <= value < 150:
        return "Unhealthy for Sensitive Groups"
    elif 150 <= value < 200:
        return "Unhealthy"
    elif 200 <= value < 300:
        return "Very Unhealthy"
    elif value >= 300:
        return "Hazardous"
 
new['AlertLevel'] = new['AQI'].map(Alert_Level)
#new

In [19]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AQI          114 non-null    float64
 1   Dew          99 non-null     float64
 2   Humidity     114 non-null    float64
 3   Pressure     114 non-null    object
 4   PM2.5        114 non-null    object
 5   Temperature  114 non-null    float64
 6   Wind         114 non-null    float64
 7   DataTimeS    114 non-null    object
 8   AlertLevel   114 non-null    object
dtypes: float64(5), object(4)
memory usage: 8.1+ KB

In [21]:
new

,AQI,Dew,Humidity,Pressure,PM2.5,Temperature,Wind,DataTimeS,AlertLevel
0,102.0,NaN,83.0,"1,009.00",102.00,27.0,3.6,2021-01-21 19:00:00,Unhealthy for Sensitive Groups
1,122.0,NaN,56.5,"1,008.50",122.00,30.5,2.5,2021-01-22 13:00:00,Unhealthy for Sensitive Groups
2,114.0,NaN,49.0,"1,007.00",114.00,32.0,1.5,2021-01-23 15:00:00,Unhealthy for Sensitive Groups
3,80.0,NaN,74.0,"1,009.00",80.00,27.0,4.1,2021-01-25 19:00:00,Moderate
4,137.0,NaN,62.0,"1,007.00",137.00,31.0,5.1,2021-01-26 16:00:00,Unhealthy for Sensitive Groups
...,...,...,...,...,...,...,...,...,...
109,97.0,24.0,66.0,"1,010.00",97.00,31.0,2.8,2021-11-10 10:00:00,Moderate
110,65.0,24.0,66.0,"1,008.50",65.00,31.0,3.6,2021-11-16 12:00:00,Moderate
111,114.0,25.0,79.0,"1,009.00",114.00,29.0,1.5,2021-11-20 09:00:00,Unhealthy for Sensitive Groups
112,89.0,20.5,69.0,"1,011.00",89.00,26.5,3.0,2021-11-26 09:00:00,Moderate
113,93.0,25.5,85.5,"1,006.00",93.00,28.0,1.0,2021-11-29 14:00:00,Moderate